# Python
__pycache__/
*.py[cod]
.venv/

# Project exclude paths
/logs/
/frontend/dist/
/frontend/node_modules/
/frontend/node_modules/@vitejs/plugin-react/LICENSE
/frontend/node_modules/@vitejs/plugin-react/README.md
/frontend/node_modules/react/LICENSE
/frontend/node_modules/react/README.md
/frontend/node_modules/react-dom/LICENSE
/frontend/node_modules/react-dom/README.md
/frontend/node_modules/vite/LICENSE.md
/frontend/node_modules/vite/README.md